<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Background16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,94}</string>
                <key>spriteSourceSize</key>
                <string>{98,94}</string>
                <key>textureRect</key>
                <string>{{65,0},{98,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UIIcon_error.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,65}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_A_a3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,64}</string>
                <key>spriteSourceSize</key>
                <string>{140,64}</string>
                <key>textureRect</key>
                <string>{{0,94},{140,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_A_a5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,64}</string>
                <key>spriteSourceSize</key>
                <string>{140,64}</string>
                <key>textureRect</key>
                <string>{{0,158},{140,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tp.png</string>
            <key>size</key>
            <string>{163,222}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f47e33bdb1b8cf2ed0f0cb4c76b79884:0bfd2bc3fe9a6524b9bde8f1677f80b8:e83f0ddbef763ea806e7a91c4f2b7d86$</string>
            <key>textureFileName</key>
            <string>tp.png</string>
        </dict>
    </dict>
</plist>
